@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #cbecff;
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #0962e8;
    --color-light-blue: #e9f6ff;
    --color-back: #eff9ff;
    --font-64: 64px;
    --font-38: 38px;
    --font-22: 22px;
    --font-20: 20px;
    --font-18: 18px;
    --font-16: 16px;
    --font-14: 14px;
}

.container {
    position: relative;
    max-width: 1100px;
    padding: 0 60px;
    margin: 0 auto 30px;
}

.main_page {
    background: var(--color-primary);
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side {
    flex: 40%;
    padding: 10px 30px 10px 60px;
}

.left_side .title {
    font-size: var(--font-64);
    font-weight: 700;
    line-height: 1.3;
}

.left_side .description {
    font-size: var(--font-22);
    font-weight: 400;
    line-height: 1.3;
}

.left_side span {
    display: inline-block;
    background: var(--color-white);
    width: 122px;
    height: 80px;
    padding-left: 17px;
    border-radius: 20px;
    color: var(--color-blue);
}

.btn {
    margin-top: 30px;
    width: 199px;
    height: 52px;
    font-size: var(--font-18);
    font-weight: 500;
    color: var(--color-white);
    background: var(--color-blue);
    border-radius: 12px;
    border: none;
    text-shadow: 1px 1px 0 var(--color-black), -1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px -1px 0 var(--color-black), rgba(0, 0, 0, 0.25) 0 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 4px;
}

.right_side {
    flex: 60%;
    position: relative;
}

.right_side img {
    width: 110%;
}

.language {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: var(--font-14);
}

.language .ru,
.language .en {
    padding: 10px;
}

.language .ru:hover,
.language .en:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active {
    color: var(--color-blue);
    background: var(--color-white);
    border-radius: 50%;
}

.bottom_block {
    position: absolute;
    top: 440px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    gap: 10px;
}

.bottom_block .blocks {
    display: flex;
    font-size: var(--font-16);
    font-weight: 500;
    line-height: 1.4;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    background: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.1) 6px 4px 12px ;
}

.bottom_block .blocks:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 6px 4px 12px ;
}

.bottom_block .icon {
    align-self: flex-start;
    background: var(--color-back);
    border-radius: 50%;
}

.bottom_block i {
    color: var(--color-blue);
}

.investments {
    width: 90%;
    margin: 140px auto 0;
    display: grid;
    grid-gap: 20px;
}

.investments .title {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: var(--font-38);
    font-weight: 500;
    line-height: 1.3;
    margin: 0 10%;
    text-align: center;
    padding: 10px;
}

.investments .title span {
    color: var(--color-blue);
}

.investments .research,
.investments .advising {
    display: flex;
    justify-content: space-between;
    background: var(--color-light-blue);
    border-radius: 30px;
    gap: 10px;
    padding: 10px 10px 0;
}

.investments .text,
.investments .image {
    flex: 1;
}

.investments .text .subtitle {
    font-size: var(--font-20);
    font-weight: 600;
    margin: 15px auto;
    line-height: 1.4;
}

.investments .text .description {
    font-size: var(--font-14);
    line-height: 1.4;
}

.investments .image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.broker_help {
    display: grid;
    grid-template:
        "text box-1 box-2"
        "text box-3 box-4"
        / 55% 1fr 1fr;
    margin: 140px auto 0;
    width: 90%;
}

.broker_help .box {
    height: 140px;
    padding: 10px;
}

.broker_help .box_icon {
    height: 40%;
}

.broker_help .icons {
    background: var(--color-back);
    border-radius: 50%;
}

.broker_help .icons:before {
    color: var(--color-blue);
}

.broker_help .box_text {
    font-size: var(--font-14);
    font-weight: 500;
    line-height: 1.4;
}

.broker_help .broker_title {
    font-size: var(--font-38);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
}

.broker_help .broker_title span {
    color: var(--color-blue);
}

.broker_help .broker_description {
    font-size: var(--font-14);
    font-weight: 500;
    line-height: 1.4;
}

.broker_help_text {
    grid-area: text;
    margin-right: 10px;
}

.broker_help .box_1 {
    grid-area: box-1;
}

.broker_help .box_2 {
    grid-area: box-2;
}

.broker_help .box_3 {
    grid-area: box-3;
}

.broker_help .box_4 {
    grid-area: box-4;
}


